{% extends "index.html" %} {% block content %}

<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 text-center">{{pageName}} <span class="small h6">({{total}})</span></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-borderd text-white table-dark table-striped">
        <thead>
            <tr class="bg-dark">
                <!-- <th>ID</th> -->
                <th>English</th>
                <th>German</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
            <tr>
                <!-- <td>{{ word.pk }}</td> -->
                <td>{{ word.english }}</td>
                <td>{{ word.german }}</td>
                <td>
                    <form action="/delete/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="word_id" value="{{word.pk}}" >
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-warning" href="{% url 'edit'%}?word_Id={{word.pk}}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock %}